.header {
	width: 100%;
	min-height: 74px;
    background-color: #202020;
}
.header_type_promo {
	background-color: #073042;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1140px;
    padding: 0 70px;
}
.header__popup_closed {
	display: none;
}
.header__logo {
	display: block;
	background-image: url("../../images/logo.svg");
	height: 38px;
	width: 38px;
	margin: 18px 0;
	opacity: 1;
	transition: 1s opacity ease;
}
.header__logo:hover {
	opacity: .7;
}
.header__logo_type_promo {
	margin-right: auto;
}
.header__links{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 16px;
}
.header__link {
	font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
	text-decoration: none;
	color: #FFFFFF;
	opacity: 1;
	transition: 1s opacity ease;
}
.header__link_active {
	font-weight: 500;
}
.header__profile-link {
	font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	text-decoration: none;
	opacity: 1;
	transition: 1s opacity ease;
}
.header__accaunt-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header__profile-img {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #313131;
	border-radius: 4px;
	background-image: url("../../images/logo_movie.svg");
	width: 26px;
    height: 30px;
	margin: 0 0 0 13px;
	opacity: 1;
	transition: 1s opacity ease;
}
.header__burger {
	display: none;
}
.header__popup {
	display: none;
	z-index: 2;
}
.header__burger:hover, .header__close-button:hover, .header__link:hover, .header__profile-link:hover {
	opacity: 0.5;
	cursor: pointer;
} 

.header__register {
	text-decoration: none;
	color: #FFFFFF;
	font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
	opacity: 1;
	transition: 1s opacity ease;
}
.header__entry {
	text-decoration: none;
    width: 76px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
	color: #000000;
	background: #3DDC84;
	border-radius: 3px;
	font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
	opacity: 1;
	transition: 1s opacity ease;
}

.header__register:hover {
	opacity: .7;
}
.header__entry:hover {
	opacity: .7;
}


@media screen and (max-width: 768px) {
	.header__container {
        padding: 0 30px;
	}
	.header__burger {
		display: block;
		background-image: url("../../images/burger.svg");
		width: 44px;
		height: 44px;
        padding: 0;
		border: none;
		background-color: #202020;
		opacity: 1;
		transition: 1s opacity ease;
	}
	.header__profile-link_screen_full, .header__profile-img_screen_full, .header__links {
		display: none;
	}
	.header__popup {
		display: block;
		position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.3);
        top: 0;
        left: 0;
	}
	.header__popup_closed {
		display: none;
	}
	.header__menu {
		position: relative;
		margin: 0 0 0 auto;
		background-color: #202020;
		height: calc(100vh - 92px - 159px);
		top: 0;
		right: 0;
		width: 520px;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 159px 0 92px;
	}
	.header__close-button {
		position: absolute;
		top: 23px;
		right: 23px;
		background-image: url(../../images/Close_button.svg);
		border: none;
		background-color: #202020;
		height: 32px;
		width: 32px;
        padding: 0;
		opacity: 1;
		transition: 0.7s opacity ease;
	}
	.header__link {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		padding: 0 0 4px;
		margin: 0 0 24px;
	}
	.header__links-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.header__link_active {
		border-bottom: 2px solid #FFFFFF;
	}
}

@media screen and (max-width: 320px) {
	.header__container {
        padding: 0 14px;
	}
    .header__burger{
        width: 40px;
		height: 43px;
    }
	.header__close-button {
		top: 13px;
		right: 13px;
	}
	.header__menu {
        height: calc(100vh - 48px - 144px);
		padding: 144px 0 48px;
	}
	.header__register {
		font-size: 10px;
        line-height: 16px;
	}
	.header__entry {
        width: 54px;
        height: 26px;
        font-size: 10px;
        line-height: 16px;
        margin-left: 14px;
	}
}
