.header {
    padding: 18px 70px;
    background: black;
  }

.header__link_active {
    background-color: #3DDC84;
    padding: 8px 20px;
    color: black;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    border-radius: 3px;
}


.header__button:first-of-type {
    margin-left: 0;
}
.header_type_promo {
    background: #073042;
    align-items: center;
  }

.header__content {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.header__films{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 16px;
    align-items: center;
}

.header__accaunt{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 17px;
    align-items: center;
}
  
.profile__logo {
    background-image: url('../../images/logo_movie.svg');
    background-color: #313131;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 26px;
    height: 30px;
}

.header__link {
    color: white;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    margin: 0;
}

.header__link_active {
    background-color: #3DDC84;
    color: black;
    border-radius: 3px;
}
