.login {
  display: flex;
  align-items: center;
  background-color: #202020;
  height: 100vh;
}

.login__container {
  margin: 70px auto;
  width: 396px;
  max-width: calc(100% * 260 / 320)
}

.login__logo {
  background-image: url("../../images/logo.svg");
  width: 38px;
  height: 38px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  opacity: 1;
  transition: opacity 0.7s ease;
}

.login__logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

.login__title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  padding: 40px 0;
  margin: 0;
}

.login__bottom-container {
  width: 100%;
  text-align: center;
  padding-top: 16px;
}

.login__bottom {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
  padding: 0 6px 0 0;
  margin: 0;
}

.login__sign-button {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4285F4;
  ;
  padding: 0 0 6px 0;
  margin: 0;
  text-decoration: none;
  opacity: 1;
  transition: opacity 1s ease;
}

.login__sign-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .login {
    justify-content: flex-start;
  }
  .login__container {
    margin: 56px auto 30px;
  }
  .login__logo {
    margin: 0 auto;
  }
  .login__title {
    margin: 50px auto 80px;
    text-align: center;
  }
  .login__sign-button {
    font-size: 12px;
    line-height: 15px;
  }
  .login__bottom {
    font-size: 12px;
    line-height: 15px;
  }
}
